.DS_Store
# ignores all files having extension sqlite3
*.sqlite3
# ignores folder named .vscode
.vscode/
# ignores folder named profile_pics
profile_pics/
practice/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/check.png
media/default.jpg
