{% extends "company/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block headcontent %}
<script src="{% static 'users/image-upload/capture.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/image-upload/main.css'%}" type="text/css" media="all">
{% endblock headcontent %}
{% block content %}
    <div class="content-section">
        <canvas id="canvas">
        </canvas>
        <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."> 
        </div>
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <button id="startbutton" onclick="">Take photo</button> 
        </div>
        <div style="text-align:center;">
            <button id="submitImage" class="btn btn-outline-info" type="button">Submit</button>
        </div>
    </div>
    <script>
    submitImage = document.getElementById("submitImage");
    submitImage.addEventListener("click", function(){
        post("{% url 'image_upload' %}", {stringimage:data, csrfmiddlewaretoken:'{{ csrf_token }}', username:'{{username}}'});
    });
    </script>
{% endblock content %}

