{% extends "company/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form enctype="multipart/form-data", method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <!-- Browse a pic:<input type="file" name="authpic" accept="image/*"><br>
                The picture must show your face clearly as it is used for authentication. -->
                <em style="color:rgb(255, 102, 0);font-size:15px">*The picture must have your clear face as it is used for authentication.</em><br>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}